* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

nav, footer {
  padding: 0;
  margin: 0;
  background-color: white;
  width: 100%;
}

/* Nav Bar */
nav {
  border-bottom: 1px solid gray;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 10vh;
}

.home {
  display: flex;
  align-items: center;
  margin-left: 1px;
  margin-right: auto;
  text-align: left;
}

.home img {
  width: 22%;
  max-width: 250px;
}

#mobile-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5em;
  margin: 0;
  padding: 0 25px;
  width: 100%;
}

#mobile-nav li {
  list-style: none;
  padding: 0;
}

#hamburger {
  background: none;
  border: none;
}

#hamburger:hover {
  cursor: pointer;
}

.burger-button {
  width: 35px;
  height: 5px;
  background-color: darkgreen;
  margin: 6px 0;
}

/* Hero */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url(https://s3.amazonaws.com/et-portfolio-images/nyc.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 3em 0;
  height: 90vh;
}

header::before {
  background: inherit;
  -webkit-filter: blur(12px);
  filter: blur(12px);
}

header h1, header h2 {
  /* background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)); */
  background: inherit;
  color: white;
  position: relative;
  bottom: 5vh;
  margin: 0 5% 0.5em;
}

/* Sections */
section {
  background-color: lightgray;
  margin: 0;
  padding: 2em 1em;
}

section:nth-of-type(even) {
  background-color: darkgray;
}

/* Projects */
#projects {
  background-color: white;
}

#projects h2 {
  border-bottom: 5px solid darkgreen;
  margin: 0 auto 30px;
  padding-bottom: 15px;
  text-align: center;
  width: 45%;
}

.project {
  border: 2px solid lightgray;
  border-radius: 3px;
  margin-bottom: 1.5em;
  padding: 0 0 2em;
}

.project img {
  display: block;
  margin: 0 auto 20px;
  width: 100%;
}

.project h3 {
  margin-top: 1.5em;
}

.project p {
  margin: 0 1em;
}
